In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('StudentsPerformance.csv')

In [4]:
df

,math score,reading score,writing score,placement score,club join year,placement offercount
0,73,73,79,71,2020,1
1,75,88,65,86,2019,3
2,70,79,74,82,2018,2
3,55,76,76,81,2020,2
4,71,76,50,87,2020,3
5,80,75,66,50,2019,3
6,73,90,77,82,2018,2
7,74,74,66,97,2019,3
8,68,87,66,89,2019,3
9,76,85,65,97,2017,3
10,84,87,77,99,2017,3
11,80,60,64,90,2018,3
12,69,83,90,83,2019,2
13,80,85,68,99,2020,2
14,75,99,79,95,2020,3
15,58,85,106,88,2019,3
16,61,86,72,85,2018,3
17,65,73,78,96,2019,3
18,82,71,78,95,2019,3
19,75,73,55,95,2017,3
20,76,71,75,69,2017,1
21,75,87,64,89,2018,3
22,76,78,64,86,2019,3
23,90,75,67,89,2020,3
24,77,81,64,90,2020,2
25,63,105,61,91,2019,3
26,100,80,97,97,2018,3
27,78,50,74,71,2019,3
28,62,82,60,90,2019,3
29,78,100,65,81,2017,2

In [3]:
# Step 2: Check if there are any missing values in the dataframe as a whole
print("1. Any missing values in the dataframe as a whole:", df.isnull().values.any())

1. Any missing values in the dataframe as a whole: False

In [4]:
# Step 3: Check if there are any missing values across each column
print("\n2. Any missing values across each column:")
print(df.isnull().any())

2. Any missing values across each column:
math score              False
reading score           False
writing score           False
placement score         False
club join year          False
placement offercount    False
dtype: bool

In [5]:
# Step 4: Count missing values across each column
print("\n3. Count of missing values across each column:")
print(df.isnull().sum())

3. Count of missing values across each column:
math score              0
reading score           0
writing score           0
placement score         0
club join year          0
placement offercount    0
dtype: int64

In [6]:
# Step 5: Count row-wise missing values
print("\n4. Count of missing values row-wise:")
print(df.isnull().sum(axis=1))

4. Count of missing values row-wise:
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

In [9]:
# Step 6: Count missing values of the 'gender' column
#print("\n5. Count of missing values in the 'gender' column:", df['gender'].isnull().sum())

In [8]:
df

,math score,reading score,writing score,placement score,club join year,placement offercount
0,73,73,79,71,2020,1
1,75,88,65,86,2019,3
2,70,79,74,82,2018,2
3,55,76,76,81,2020,2
4,71,76,50,87,2020,3
5,80,75,66,50,2019,3
6,73,90,77,82,2018,2
7,74,74,66,97,2019,3
8,68,87,66,89,2019,3
9,76,85,65,97,2017,3
10,84,87,77,99,2017,3
11,80,60,64,90,2018,3
12,69,83,90,83,2019,2
13,80,85,68,99,2020,2
14,75,99,79,95,2020,3
15,58,85,106,88,2019,3
16,61,86,72,85,2018,3
17,65,73,78,96,2019,3
18,82,71,78,95,2019,3
19,75,73,55,95,2017,3
20,76,71,75,69,2017,1
21,75,87,64,89,2018,3
22,76,78,64,86,2019,3
23,90,75,67,89,2020,3
24,77,81,64,90,2020,2
25,63,105,61,91,2019,3
26,100,80,97,97,2018,3
27,78,50,74,71,2019,3
28,62,82,60,90,2019,3
29,78,100,65,81,2017,2

In [10]:
'''# Step 7: Groupby count of missing values of a column, considering 'gender' and 'score'
print("\n6. Groupby count of missing values of a column (gender and score):")
print(df.groupby(['gender'])['score'].apply(lambda x: x.isnull().sum()))
'''

'# Step 7: Groupby count of missing values of a column, considering \'gender\' and \'score\'\nprint("\n6. Groupby count of missing values of a column (gender and score):")\nprint(df.groupby([\'gender\'])[\'score\'].apply(lambda x: x.isnull().sum()))\n'

In [12]:
'''# Step 8: Replace missing values of 'score' column with average value of the column
average_score = df['score'].mean()
df['score'].fillna(average_score, inplace=True)
print("\n7. Missing values replaced with the average value of the 'score' column.")'''

'# Step 8: Replace missing values of \'score\' column with average value of the column\naverage_score = df[\'score\'].mean()\ndf[\'score\'].fillna(average_score, inplace=True)\nprint("\n7. Missing values replaced with the average value of the \'score\' column.")'